{% extends 'shopapp/base.html' %}

{% block title %}
Products list
{% endblock  %}

{% block body %}
    <h1>Products:</h1>
    {% if products %}
        <div>
            {% for product in products %}
            <div>
                <p>Name: {{ product.name }}</p>
                <p>Price: {{ product.price }}</p>
                <p>Discount:{% firstof product.discount "no discount" %}</p>
            </div>
            {% endfor %}
        </div>
    {% else %}
    <h3>No products her</h3>
    {% endif %}
    <div>
        <a href="{% url 'shopapp:create_product' %}">
            Create new product
        </a>
    </div>
{% endblock  %}